<!DOCTYPE html>
<html>
<head>
    <title>Visualizations</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="visualization"></div>

    <script>
        var vals = JSON.parse('{{ vals|safe }}');

        window.onload=function(){
            var xValues = vals.t;
            n = 10;
            y = [];
            V = vals.V; 

            for (var i = 0; i < V.length; i++) {
                var v = V[i];
                
                if (n < v.length) {
                  y.push(v[n]);
                } else {
                  y.push(null);
                }
            }
            var yValues = y;
    
            var trace = {
                x: xValues,
                y: yValues,
                type: 'scatter'
            };
    
            var layout = {
                title: 'Data Visualization',
                font: {
                    family: 'Times New Roman, serif',
                    size: 14
                }
            };
    
            var config = {
                responsive: true
            };
    
            Plotly.newPlot('visualization', [trace], layout, config);

            var xInput = document.getElementById('x-input');
            var yInput = document.getElementById('y-input');
    
            function updatePlot() {
                var xValues = xInput.value.split(',').map(Number);
                var yValues = yInput.value.split(',').map(Number);
    
                trace.x = xValues;
                trace.y = yValues;
    
                layout.xaxis.range = [Math.min(...xValues), Math.max(...xValues)];
                layout.yaxis.range = [Math.min(...yValues), Math.max(...yValues)];
    
                Plotly.update('visualization', [trace], layout);
            }
    
            xInput.addEventListener('input', updatePlot);
            yInput.addEventListener('input', updatePlot);
        }


    </script>

    <label for="x-input">X-Values:</label>
    <input type="text" id="x-input" value="1, 2, 3, 4, 5">
    <br>

    <label for="y-input">Y-Values:</label>
    <input type="text" id="y-input" value="2, 4, 6, 8, 10">

    {{vals}}
</body>
</html>
