<!DOCTYPE html>
<html>
<head>
    <title>Visualizations</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="visualization"></div>

    <script>
        var vals = JSON.parse('{{ vals|safe }}');

        window.onload=function(){
            var traces = ValOfStep_OverTime(vals.V, 10);
    
            var layout = {
                title: 'Data Visualization',
                font: {
                    family: 'Times New Roman, serif',
                    size: 14
                }
            };
    
            var config = {
                responsive: true
            };
    
            Plotly.newPlot('visualization', [traces], layout, config);

            var ptInput = document.getElementById('pt');
    
            function updatePlot() {
                var n = parseInt(ptInput.value);
                console.log(n);
    
                update = ValOfStep_OverTime(vals.V, n);
                traces.x = update.x;
                traces.y = update.y;
                console.log(traces);
    
                layout.yaxis.range = [Math.min(...traces.y), Math.max(...traces.y)];

                Plotly.update('visualization', [traces], layout, config);
            }
    
            ptInput.addEventListener('input', updatePlot);
        }


    </script>

    <label for="pt">Point:</label>
    <input type="text" id="pt" value="10">
    <br>

    {{vals}}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
